<!--Set Fonts-->
{{$headerfont := index (.Page.Params.fonts) 0 }}
  <!-- Main Hero Content -->
<div id="hero" class="h-screen hidden lg:block">
   
</div>
<div id="hero_m" class="lg:hidden" style="height:50vh;">
   
</div>
    <!-- End Main Hero Content -->
    <style>
        #hero {
            background-image: url("/manifesto/title_header.png");
              background-repeat: no-repeat;
                background-position: center;
                background-size: 90% 100%;

        }
        #hero_m {
            background-image: url("/manifesto/mobile_title.png");
              background-repeat: no-repeat;
                background-size: 100% 100%;

        }


        html {
            scroll-behavior: smooth;
        }
    </style>
    