<div id="projects" class="lg:mt-8 mt-4 border-t-4 border-yellow-400 py-2">
    <div class="grid lg:grid-cols-2 ">
        <div class="px-2 py-1 lg:w-3/6 text-xs lg:text-sm font-bold border-2 border-yellow-600 text-white bg-yellow-400">
            🚧 &nbsp; BLOG AND TUTORIALS
        </div>
        <div class="lg:flex justify-end hidden">
            <a href="#">
                <p class="text-base text-gray-400 font-semibold font-mono items-center lg:pt-1">See All >></p>
            </a>
        </div>
    </div>
    <aside>
        <img src="/typewriter.png" class="float-right -mr-48 mt-16 w-1/6 hidden lg:block opacity-50">
    </aside>
    <div id="blogslist" class="flex justify-between gap-4 py-4">
        <div class="h-90  cursor-pointer">
            <a href="#" class="-full">
                <img alt="post photo" src="https://picsum.photos/600/300" class="max-h-80 w-full object-cover" />
                <div class="bg-white dark:bg-gray-800 w-full">
                    <p class="text-gray-800 lg:text-2xl text-xl font-extrabold mb-2">
                        Supercharged !
                    </p>

                </div>
            </a>
        </div>
        <div class="h-90  cursor-pointer">
            <a href="#" class="-full">
                <img alt="post photo" src="https://picsum.photos/600/300" class="max-h-80 w-full object-cover" />
                <div class="bg-white dark:bg-gray-800 w-full">
                    <p class="text-gray-800 lg:text-2xl text-xl font-extrabold mb-2">
                        Supercharged !
                    </p>

                </div>
            </a>
        </div>
    </div>
    <div class="flex justify-end lg:hidden py-2">
        <a href="#">
            <p class="text-base text-gray-400 font-semibold font-mono items-center lg:pt-1">See All >></p>
        </a>
    </div>

</div>