<div class="lg:pb-8 pb-4 mb-2  border-b-4 border-gray-900">
    <div class="z-20">
        <h2 class="lg:text-3xl text-xl font-extrabold text-black dark:text-white sm:text-4xl">
            <span class="">
             <br>A Whole Sort of General Mishmash of <span class="font-mono bg-gray-200 p-2 leading-loose text-base lg:text-2xl center">code, data & visual art;</span>
            </span>
            <span class="text-purple-500">
                by Aman Bhargava
            </span>
        </h2>
    </div>
</div>