{{ $section := site.GetPage "projects" }}
{{ range first 1 $section.RegularPages }}
<div class="mt-4 grid grid-cols-1 lg:grid-cols-5 gap-4">
    <div class="lg:col-span-4">
        <div class="h-90 cursor-pointer">
            <a href="{{ .Permalink }}" class="w-full block h-full">
                <img alt="post photo" src="{{ .Params.feature }}" class="max-h-80 w-full object-cover" />
                <div class="bg-white dark:bg-gray-800 w-full">
                    <p class="text-gray-800 py-2 lg:text-5xl uppercase text-4xl font-extrabold mb-2">
                        {{ .Title }}
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 capitalize lg:w-5/6 font-bold lg:text-xl">
                        {{ .Summary }}
                    </p>
                </div>
            </a>
        </div>
    </div>
{{ end }}

    <div class="border-gray-800 border-t-2 lg:border-none lg:block hidden">
        <p class="text-red-500  lg:text-2xl text-3xl font-extrabold mb-2">
            Browse by...
        </p>
        <a href="#projects">
            <div class="py-2">
                <button type="button" class="py-4 px-4 flex justify-left items-center  bg-orange-400 hover:bg-blue-700 text-white w-full transition ease-in duration-200 text-center text-base font-bold  focus:outline-none ">
                🚧 PROJECTS
</button>
            </div>
        </a>
        <a href="#">
            <div class="py-2">
                <button type="button" class="py-4 px-4 flex justify-left items-center  bg-yellow-400 hover:bg-black  text-white w-full transition ease-in duration-200 text-center text-base font-bold  focus:outline-none">
                ⌨️ BLOG 
</button>
            </div>
        </a>
        <a href="#">
            <div class="py-2">
                <button type="button" class="py-4 px-4 flex justify-left items-center  bg-blue-400 hover:bg-red-600  text-white w-full transition ease-in duration-200 text-center text-base font-bold  focus:outline-none   ">
                🎨 ART 
</button>
            </div>
        </a>
        <div class="hidden lg:block">
            <img src="/latest.png" class="w-2/3 m-auto">
        </div>
    </div>
</div>

