{{ $section := site.GetPage "projects"  }}
{{ range first 1 $section.RegularPages }}
<div class="grid grid-cols-1 gap-4 mt-4 lg:grid-cols-5">
    <div class="lg:col-span-4">
        <div class="cursor-pointer h-90">
            <a href="{{ .Permalink }}" class="block w-full h-full">
                <img alt="post photo" src="{{ .Params.feature }}?nf_resize=fit&h=320" class="object-cover w-full max-h-80" />
                <div class="w-full bg-white dark:bg-gray-800">
                    <p class="py-2 text-3xl font-extrabold text-gray-900 uppercase lg:text-4xl font-cocogoose">
                        {{ .Title }}
                    </p>
                    <p class="font-bold text-gray-700 capitalize dark:text-gray-300 lg:w-5/6 lg:text-xl">
                        {{ .Summary }}
                    </p>
                </div>
            </a>
        </div>
    </div>
{{ end }}

    <div class="hidden border-t-2 border-gray-800 lg:border-none lg:block">
        <p class="mb-2 text-3xl font-extrabold text-center text-black uppercase font-cocogoose lg:text-2xl">
            Browse by
        </p>
        <a href="/projects">
            <div class="py-2">
                <button type="button" class="flex items-center w-full px-4 py-4 text-base font-bold text-center text-white transition duration-200 ease-in bg-orange-400 justify-left hover:bg-blue-700 focus:outline-none ">
                🚧 PROJECTS
</button>
            </div>
        </a>
        <a href="/blog">
            <div class="py-2">
                <button type="button" class="flex items-center w-full px-4 py-4 text-base font-bold text-center text-white transition duration-200 ease-in bg-yellow-400 justify-left hover:bg-black focus:outline-none">
                ⌨️ BLOG 
</button>
            </div>
        </a>
        <a href="#">
            <div class="py-2">
                <button type="button" class="flex items-center w-full px-4 py-4 text-base font-bold text-center text-white transition duration-200 ease-in bg-blue-400 justify-left hover:bg-red-600 focus:outline-none ">
                🎨 ART 
</button>
            </div>
        </a>
        <div class="hidden lg:block">
            <img src="/latest.png" class="w-2/3 m-auto">
        </div>
    </div>
</div>

