<div id="projects" class="lg:mt-8 mt-4 border-t-4 border-orange-400 py-2">
    <aside>
        <img src="/skeleton.png" class="float-left -ml-40 mt-12 w-28 hidden lg:block">
    </aside>
    <div class="grid lg:grid-cols-2 ">
        <div class="px-2 py-1 lg:w-3/4 text-xs lg:text-sm font-bold border-2 border-orange-600 text-white bg-orange-400">
            🚧 &nbsp; PROJECTS THAT I'VE ACTUALLY FINISHED
        </div>
        <div class="lg:flex justify-end hidden">
            <a href="/projects">
                <p class="text-base text-gray-400 font-semibold font-mono items-center lg:pt-1">See All >></p>
            </a>
        </div>
    </div>

    <div id="projectslist" class="lg:flex justify-between gap-8 py-4">
            {{ $section := site.GetPage "projects" }}

            {{ range first 2 $section.RegularPages }}

            <div class="h-90  cursor-pointer">
                <a href="{{ .Permalink }}" class="-full">
                    <img alt="post photo" src="/{{ .Params.feature }}" class="max-h-80 w-full object-cover" />
                    <div class="bg-white dark:bg-gray-800 w-full">
                        <p class="text-gray-800 lg:text-2xl text-xl font-extrabold mb-2">
                            {{ .Title }}
                        </p>
    
                    </div>
                </a>
            </div>
            {{ end }}
    <div class="flex justify-end lg:hidden py-2">
        <a href="/projects">
            <p class="text-base text-gray-400 font-semibold font-mono items-center lg:pt-1">See All >></p>
        </a>
    </div>

</div>