#scroll {
    display: flex;
    min-height: 100vh;
     }

   
.step {
    padding: 3rem 2rem 3rem 2rem;
    position: relative;
}

.step img {
    width: 100%;
    height: auto;
}

.scroll__graphic {
    position: -webkit-sticky !important;
    position: sticky !important; 
    top: 0;
    align-self: flex-start;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
    width: 33%;
}

.overlay {
    background: rgba(255,255
    ,255, .75);
}

#map {
    z-index: -5;
    height: 800px;
    position: sticky !important;

}

/* CSS FOR BENEFITS */

#scrolly {
    position: relative;
    padding: 1rem;
    position:sticky;
  }

  article {
    position: relative;
  }

  article p {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;  
  }

  .step1 {
    width: 500px;
    display: flex;
    align-items: center;
    padding: 5rem;
    justify-items: center;
    background-color: hsla(0, 0%, 95%, 0.815);
    margin: 500px auto;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(104, 104, 104, 0.61);
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2);
  } 

  #story {
    position: -webkit-sticky;
    position: sticky !important;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
  }

  .no-benefits {
    filter: opacity(0.3);
    transition: filter 0.5s;
    background-color:rgba(134, 24, 24, 0.267);
    border-color: rgba(205, 92, 92, 0.267);
  }

  .no-benefits p {
      color:rgb(87, 30, 30);
  }

  
  .no-benefits h4 {
    color:rgb(87, 30, 30);
}
  .non {
      transition: 0.5s;
  }
  
  .step1:last-child {
    margin-bottom: 100px;
  }

  .step1.is-active p {
    color: #3b3b3b;
  }
