.starter {
    color: blue;
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/causten/Causten-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Causten';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/causten/Causten-SemiBoldOblique.woff2) format('woff2');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/causten/Causten-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Causten';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/causten/Causten-BoldOblique.woff2) format('woff2');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/causten/public.otf) format('opentype');
}

@font-face {
    font-family: 'Causten';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/causten/Causten-ExtraBoldOblique.woff2) format('woff2');
}

@font-face {
   font-family: "Arsenica";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url(/fonts/Arsenica/Arsenica-Text-Bold-trial.ttf) format('truetype'); 
}

@font-face {
    font-family: "Rougant";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/rougant/RougantBold_PERSONAL_USE_ONLY.otf) format('opentype'); 
 }
 
 @font-face {
    font-family: "Rougant";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/rougant/RougantRough_PERSONAL_USE_ONLY.otf) format('opentype'); 
 }
 
 @font-face {
    font-family: "Rougant";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/rougant/Rougant_PERSONAL_USE_ONLY.otf) format('opentype'); 
 }
 
 @font-face {
    font-family: "Cocogoose";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/cocogoose/Cocogoose_Pro-trial.ttf) format('truetype'); 
 }
 
 @font-face {
    font-family: "Blacker";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/blacker/blacker.display-extrabold.ttf) format('truetype'); 
 }
 

 /* Additional vertical padding used by kbd tag. */
.py-05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
  
  .markdown {
    @apply text-gray-900 leading-normal break-words;
  }
  
  .markdown > * + * {
    @apply mt-0 mb-4;
  }
  
  .markdown li + li {
    @apply mt-1;
  }
  
  .markdown li > p + p {
    @apply mt-6;
  }
  
  .markdown strong {
    @apply font-semibold;
  }
  
  .markdown a {
    @apply text-blue-600 font-semibold;
  }
  
  .markdown strong a {
    @apply font-bold;
  }
  
  .markdown h1 {
    @apply leading-tight border-b text-4xl font-bold mb-4 mt-6 pb-2;
  }
  
  .markdown h2 {
    @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
  }
  
  .markdown h3 {
    @apply leading-snug text-lg font-semibold mb-4 mt-6;
  }
  
  .markdown h4 {
    @apply leading-none text-base font-semibold mb-4 mt-6;
  }
  
  .markdown h5 {
    @apply leading-tight text-sm font-semibold mb-4 mt-6;
  }
  
  .markdown h6 {
    @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
  }
  
  .markdown blockquote {
    @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
  }
  
  .markdown ul {
    @apply text-base pl-8 list-disc;
  }
  
  .markdown ol {
    @apply text-base pl-8 list-decimal;
  }
  
  .markdown kbd {
    @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
  }
  
  .markdown table {
    @apply text-base border-gray-600;
  }
  
  .markdown th {
    @apply border py-1 px-3;
  }
  
  .markdown td {
    @apply border py-1 px-3;
  }
  
