{{ define "main" }} 
{{ partial "header.html" }}
<div class="lg:w-8/12 mx-auto px-8 max-w-7xl">
<div class="flex justify-center items-center pb-4 lg:space-x-20 space-x-4">
    <h2 class="lg:text-7xl text-left text-5xl font-blacker dark:text-white sm:text-4xl">
       Projects*
   </h2>
   <img src="/skeleton.png" class="w-12">
</div>
<div class="flex justify-end lg:-mt-8 items-center border-b-2 pb-4 space-x-20">
    <h2 class="lg:text-sm text-left text-xs font-blacker text-gray-700 dark:text-white sm:text-4xl">
        *that made it out alive
    </h2>
</div>
<div class="grid grid-flow-row lg:grid-cols-2 grid-cols-1 py-12 gap-20">
   {{ range .Pages }}
   <a href="{{ .Permalink }}" class="w-full block h-full">
      <img alt="post photo" src="/{{ .Params.feature }}" class="max-h-80 w-full object-cover" />
      <div class="bg-white dark:bg-gray-800 w-full">
         <p class="text-gray-900 py-2 lg:text-3xl text-center uppercase text-xl font-extrabold">
            {{ .Title }}
         </p>
         <p class="text-gray-700 dark:text-gray-300 uppercase text-center font-bold text-xs lg:text-sm">
            {{ .Summary }} 
         </p>
      </div>
   </a>
   {{ end }}
</div>
{{ partial "footer.html" }}
{{ end }}